Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in*
config.sub
configure
depcomp
install-sh
missing

po/*.gmo
po/POTFILES

.deps/
Makefile
config.h
config.log
config.status
conststrings.c
contrib/Makefile


doc/Muttrc
doc/instdoc.sh
doc/makedoc
doc/makedoc.o
doc/manual.txt
doc/manual.xml
doc/mutt.1
doc/muttrc.man
doc/pgpewrap.1
doc/pgpring.1
doc/smime_keys.1
doc/stamp-doc-chunked
doc/stamp-doc-rc
doc/stamp-doc-xml

hcachever.sh

keymap_defs.h

*.o
*.a

muttbug.sh
patchlist.c
reldate.h
stamp-h1
txt2c
txt2c.o

cscope.files
cscope.out

confdefs.h
conftest.c
conftest.err


flea
mutt
pgpewrap
pgpring
smime_keys
